     <form method="POST" action="./add">
    <label>imie</label><input type="text" name="imie" placeholder="Title"> <br>
    <label>nazwisko></label><input type="text" label=nazwisko name="nazwisko" placeholder="Title"> <br>
    <label> kurs </label> <input type="text" name="kurs" placeholder="Title"> <br>
    <label> lokalizacja </label> <input type="text" name="lokalizacja" placeholder="Title"> <br>
   
    <button>Zapisz się na kurs</button>
</form>     


 <table>
  <tr>
    <th>imię</th>
    <th>nazwisko</th>
    <th>kurs</th>
     <th>lokalizacja</th>
  </tr>
       {{#each events}}
        <tr>
                    <td>{{imie}}</td>
                    <td>{{nazwisko}}</td>
                    <td>{{kurs}}</td>
                    <td>{{lokalizacja}}</td>
        </tr>
      {{/each}}

</article>