<form style="width:50%" method="POST" action="/kursy/update/{{_id}}">
<h2> Skorguj kurs </h2>
  <label> kurs </label>
  <input type="text" name="kurs" placeholder="wybierz kurs" value="{{kurs}}"/><br/>
  <label> lokalizacja </label>
  <input type="text" name="lokalizacja" placeholder="wybierz lokalizację" value="{{lokalizacja}}"/>  <br/>
  <label> liczba miejsc </label> 
  <input type="int32" name="liczba_miejsc" placeholder="wpisz liczbę miejsc" value="{{liczba_miejsc}}"> </input> 
  <button>Zmień kurs</button><br />
</form>  